<section id="about" class="wow fadeInLeft">
    <div class="aboutArea">
        <div class="aboutTitle">
            <!-- <p>關於我們</p> -->
        </div>
        <div class="aboutText">
            <p class="title">歐司瑪再生能源科技</p>
            <p>
                台灣唯一可將多元廢棄物轉化為純綠電的業者歐司瑪再生能源科技，創立於民國99年，創業工程師團隊當時看著台灣每天不斷大量產出石化廢棄物，思考是否可將廢棄物轉化為再利用原料或燃料源，在熱愛環境的使命感催生下，結合其化工、電機、機械、運輸、工程的專長結合起來，利用熱裂解理論及實務，全心研發化學分子斷鏈的科學領域，在民國101年第一代熱裂解原型機問世，獲得全球前三大輪胎製造廠青睞，成功將台灣研發成果帶到國際舞台。目前歐司瑪再生能源科技已進化到第三代自動化系統，期將大量生產純綠電供給全球市場。
            </p>
        </div>
    </div>
</section>