<section id="contact" class="wow fadeInLeft">
    <div class="contactText">
        <p class="title">Contact Us</p>
        <hr>
        <br>
        <p>ADD : 台北市松山區南京東路四段50號5樓之1</p>
        <p>TEL : 886-2-25795815</p>
        <p>FAX : 886-2-25796813</p>
        <p>EMAIL : <a href="mailto:celine.wu@osema.com.tw">celine.wu@osema.com.tw</a></p>
        <div id="social">
            <ul id="social">
                <li><a target="_" class="web" href="https://www.osema.com.tw/Carbon" alt="web"></a></li>
            </ul>
        </div>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.4879853809807!2d121.55124471568465!3d25.05144444374437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abbe752302ef%3A0x7420e8209a5e947a!2z5q2Q5Y-455Gq5YaN55Sf6IO95rqQ56eR5oqA!5e0!3m2!1szh-TW!2stw!4v1657612932656!5m2!1szh-TW!2stw"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<div class="copyright">
    <p>Copyright © 2022 Osema歐司瑪再生能源科技 All Rights Reserved. </p>
</div>