<div class="nav-container">
    <nav class="navbar">
        <div id="navbar-logo">
            <img class="lazyload" src="../assets/img/logo.jpg" data-src="../assets/img/logo.jpg" alt="logo">
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="#about" class="nav-links">關於我們</a></li>
            <li><a href="#roomType" class="nav-links">未來展望</a></li>
            <li><a href="#plan" class="nav-links">產品服務</a></li>
            <li><a href="#contact" class="nav-links">聯絡我們</a></li>
        </ul>
    </nav>
</div>