<!-- 最新消息 -->
<section id="news" class="wow fadeInRight">
    <p class="title">經營理念</p>
    <br>
    <div class="newsArea">
        <div class="newsItem">
            <img class="lazyload" src="../assets/img/business01.jpg" alt="business01" width="640" height="360">
            <button class="accordion">卓越-熱裂解油達SAF等級</button>
        </div>
        <div class="newsItem">
            <img class="lazyload" src="../assets/img/business02.jpg" alt="business01" width="640" height="360">
            <button class="accordion">減碳-生產100%淨零排放</button>
        </div>
        <div class="newsItem">
            <img class="lazyload" src="../assets/img/business03.jpg" alt="business01" width="640" height="360">
            <button class="accordion">環保-循環資源100%零浪費</button>
        </div>
        <div class="newsItem">
            <img class="lazyload" src="../assets/img/business04.jpg" alt="business01" width="640" height="360">
            <button class="accordion">品質-設備為美國環保認證</button>
        </div>
        <div class="newsItem">
            <img class="lazyload" src="../assets/img/business05.jpg" alt="business01" width="640" height="360">
            <button class="accordion">獨家-技術擁有國內外專利</button>
        </div>
    </div>
</section>