<section id="roomType" class="wow fadeInLeft">
    <div class="main">
        <p class="title">未來展望</p>
        <hr>
        <!-- Portfolio Gallery Grid -->
        <div class="row">
            <div class="column">
                <div class="content">
                    <a href="#roomType" alt="輪胎再利用產出的綠電，推向再生能源另一個里程碑" data-lightbox="room01">
                        <img class="lazyload" src="../assets/img/future01.jpg" width="640" height="360">
                    </a>
                    <div class="titl">
                        <img src="../assets/img/tire.png">
                        <p class="title2">
                            輪胎再利用產出的綠電，推向再生能源另一個里程碑</p>
                    </div>
                    <br>
                    <p class="title4">符合美國環保標準，實現淨零排放</p>
                    <div class="text">
                        <p>歐司瑪的專利熱裂解技術，讓難以處理的石化廢棄物再次被利用。<br>
                            每一個歐司瑪再生能源示範廠每年能處理 18,000 公噸廢棄物，每組熱處理裂解設備配置發電容量每小時 4500
                            (KWh)之發電機組，24 小時連續發電，每年發電 3 千 3 百萬度純綠電。</p><br><br>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <a href="#roomType" alt="廢棄物熱裂解技術發電" data-lightbox="room01">
                        <img class="lazyload" src="../assets/img/future02.jpg" width="640" height="360">
                    </a>
                    <div class="titl1">
                        <img src="../assets/img/trash.png">
                        <p class="title2">廢棄物熱裂解技術發電，全天24小時發電，不受天候的影響，可協助政府提升再生能源總體發電比率</p>
                    </div>
                    <p class="title3">符合美國環保標準，實現淨零排放</p>
                    <div class="text">
                        <p>歐司瑪的專利熱裂解技術，設廠土地需求與投資成本相對較低，模組化設計容易複製，也不受臺電饋線之限制，有助企業輕鬆達成使用10%綠電的目標，並取得綠能憑證。歐司瑪再生能源科技預計未來三年內，完成建置五個發電廠，達到每年
                            1 億 6500 萬度純綠電量。協助企業提升綠電使用佔比、擁有碳權及ESG企業責任、環保規範等等挑戰，提升企業未來營運的競爭力。</p>
                    </div>
                </div>

            </div>
            <!-- END GRID -->
        </div>
        <div class="content content2">
            <a href="#roomType" alt="廢棄物熱裂解技術發電" data-lightbox="room01">
                <img class="lazyload" src="../assets/img/future03.jpg" width="640" height="360">
            </a>
            <p class="title2">歐司瑪再生能源科技是2050年全球達到淨零碳排(Net Zero Carbon Emissions)的最佳助力！</p>
            <p class="title3">永續地球品質</p>
            <div class="text">
                <p>歐司瑪擁有全世界唯一的熱裂解技術，創造以下兩種循環：<br>
                    第一為向下循環，將可再運用的原料用在價值較低的產品中。歐司瑪熱裂解技術產出的環保碳黑可再運用在較低價的產品
                    如：瀝青道路、體育場跑道、再生橡膠…等等。<br>
                    第二為向上循環：將可再運用的原料用於生產價值較高的產品。以熱裂解技術產出的油品，成為SAF航空用油或可以用於發電燃料。<br>
                    裂解出的輕質柴油可以直接用於產出綠電。<br>
                    歐司瑪再生能源科技創造100%零排放及向上與向下循環經濟。達到資源100%不浪費，永續地球的環境品質，創造永遠生生不息的地球環境！</p>
            </div>
        </div>
        <!-- END MAIN -->
    </div>
</section>