@media screen and (max-width: 900px) {
    .nav-menu {
        width: 90%;
    }

   

    .contactText p {
        font-size: 12px;
    }

    

    .map {
        width: 60%;
    }

    .newsItem {
        width: 100%;
        //margin: 25px;
    }



}