<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>osema歐司瑪再生能源科技｜綠色能源,能源憑證,能源轉型</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  
  <meta name="description"
    content="Osema歐司瑪提供綠色再生能源,發電系統,能源補助,廢輪胎回收,柴油批發,綠電再生,綠電綠能投資採購,能源憑證,購電合約,能源轉型,將多元廢棄物轉化為純綠電的再生能源科技,期將大量生產純綠電供給全球市場。">
  <meta property="og:title" content="osema歐司瑪再生能源科技｜綠色能源,能源憑證,能源轉型">
  <meta property="og:description"
    content="Osema歐司瑪提供綠色再生能源,發電系統,能源補助,廢輪胎回收,柴油批發,綠電再生,綠電綠能投資採購,能源憑證,購電合約,能源轉型,將多元廢棄物轉化為純綠電的再生能源科技,期將大量生產純綠電供給全球市場。">
</head>

<body>
  <div class="bg"><div class="bgcover"></div>

</div>
  <%- include('./layout/header'); -%>
   <!-- banner 幻燈片 -->
  <%- include('./layout/swiper'); -%>
    <!-- Initialize Swiper -->
    <main>
      <%- include('./layout/about'); -%>
      <!-- 最新消息 -->
      <%- include('./layout/news'); -%>
      <!-- 房型介紹 -->
      <%- include('./layout/roomType'); -%>
      <!--plan-->
      <%- include('./layout/plan'); -%>
      <!--footer-->
      <%- include('./layout/footer'); -%>
    </main>
      <script type="module" src="../main.js"></script>
</body>

</html>